* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}

nav {
    margin: 0;
    top: 0;
    padding: 10px;
    background-color: blueviolet;
    text-align: center;
}

header {
    padding: 40px;
    text-align: center;
    font-size: 45px;
    font-style: italic;
}

section {
    padding: auto;
    text-align: center;
}

footer {
    bottom: 0;
    position: fixed;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(0.0, 0.0, 0.5);
}